/* Major fixes*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Merriweather', serif; */
    font-family: 'Varta', sans-serif;
}
img{
    width: 95%;
    height: 100%;
}
/* Major fixes*/

/* desktop header section starts here */
.desktop-header-section{
    display:flex;

}
.desktop-left-div{
    width: 50%;
    background: var(--bg-color);
}

.left-div-content{
    padding: 50px 100px 20px 100px;
}
.desktop-links{
    display: flex;
    align-items: center; 
}
.desktop-links h1{
    color: var(--main-color) ;
    font-family: 'Merriweather', serif;
    font-size: 26px;
}

.desktop-links ul{
    display: flex;
    
}
.desktop-links ul li{
    list-style: none;
    padding: 0 15px;
    font-size: 12px;
    color: var(--main-text-color);
}
.desktop-leftdiv-items h5{
    color: var(--main-color);
    padding: 70px 0 20px 0;
}
.desktop-leftdiv-items p{
    font-size: 50px;
    font-family: 'Merriweather', serif, sans-serif;;
    color: var(--main-color);
}
.desktop-leftdiv-items span{
    padding: 30px 0 50px 0;
    display: block;
    color: var(--main-text-color);
}
.desktop-leftdiv-items i{
    width: 30px;
    height: 30px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    font-size: 20px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 170px;

}
/* desktop header right div starts here */
.desktop-right-div{
    width: 50%;
    background: url("./header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top bottom;
    object-fit: cover;

}
.arrow{
    padding: 0 5px;
    font: 12px;
}
.logo-container{
    display: flex;
    justify-content: flex-end; 
    margin:50px;
}
.logo{
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 15px; 
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* desktop header right div ends here */

/* mobile header section starts here */

.mobile-header{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}
.mobile-header h1{
    color: var(--white-color);
    font-size: 35px;
    font-family: 'Merriweather', serif;
}
.hamburger-container{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}
.menubar{
    width: 100%;
    height: 2px;
    content: "";
    background: transparent;
    position: relative;
}
.menubar::after{
    width: 100%;
    height: 2px;
    content: "";
    background: var(--white-color);
    position: absolute;
    transform: translateY(5px);
}
.menubar::before{
    width: 100%;
    height: 2px;
    content: "";
    background: var(--white-color);
    position: absolute;
    transform: translateY(-5px);
}
.showburger .menubar::before{
    width: 100%;
    height: 2px;
    content: "";
    background: var(--white-color);
    position: absolute;
    transform: rotate(-45deg);
}
.showburger .menubar::after{
    width: 100%;
    height: 2px;
    content: "";
    background: var(--white-color);
    position: absolute;
    transform: rotate(45deg);
}
.mobile-items{
    display: none;
    text-align: center;
    color: var(--white-color);
}
.mobile-items h5{
    
    padding: 40px 0 20px 0;
}
.mobile-items p{
    font-size: 40px;
    font-family: 'Merriweather', serif;
}
.mobile-nav {
    display: none;
    position: absolute;
    top: 10%;
    transform: translateX(102%);
    transition: all 0.4s ease;
    overflow: hidden;
    z-index: 3;
}
.showmobilenav{
    transform: translateX(0);
}
.mobile-nav ul li{
    list-style: none;
    padding: 15px;
    font-size: 20px;
    background-color: var(--bg-color);
    
}
.mobile-nav ul li:hover{
    background: transparent;
}
.mobile-items span{
    padding: 20px 0;
    display: block;
}
.mobile-items .icon-down{
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-items .icon-down i{
    width: 30px;
    height: 30px;
    border: 2px solid var(--white-color);
    border-radius: 20px;
    font-size: 20px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

}
/* mobile header section ends here */
/*  header section ends here */

/* first section starts here */
.first-section{
    background: var(--bg-color);
}
.firstsection-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.firstsection-leftdiv{
    width: 40%;
    padding: 60px 0 0 40px;
}
.firstsection-leftdiv p{
    font-size: 50px;
    font-family: 'Merriweather', sans-serif;
    color: var(--main-text-color);
}
.firstsection-leftdiv span{
    color: var(--main-color);
    font-size: 12px;
    padding: 20px 0;
    display: block;
}
.firstsection-rightdiv{
    width: 50%;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}
.fs-rightdiv-cards{
    padding: 0 10px;
    height: 200px;
}
.fs-rightdiv-cards h1{
    font-family: 'Varta', serif;
    color: var(--main-color);
    font-size: 28px;
}
.fs-rightdiv-cards p{
    
    color: var(--main-text-color);
    padding: 20px 0;
    line-height: 1.6;
    font-size: 16px;
}
.first-card-set{
    width: 50%;
}
.second-card-set{
    width: 50%;
}
/* first section ends here */
/* about me section starts here */
section{
    width: 90%;
    margin: 0 auto;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-me-leftdiv h1{
    font-size: 40px;

}
.about-me-leftdiv p{
    color: var(--main-text-color);
    padding: 20px 0;
    font-size: 20px;
}
.about-me-leftdiv span{
    color: var(--main-color);
    font-size: 12px;
    padding: 10px 0;
    display: block;
}
.about-me-rightdiv input{
    padding: 10px 15px;
    border: none;
    background: var(--bg-color);
}
.about-me-rightdiv button{
    padding: 10px 60px;
    background: var(--button);
    color: var(--bg-color);
    border: none;
    outline: none;
}

/* about me section ends here */

/* swiper js section starts here */
.swiper {
    margin: 0 0 40px auto;
    width: 95%;
    height: 500px;
}

.swiper-wrapper{
    width: 48%;
}

.swiper-button-prev, .swiper-button-next{
    /* color: var(--main-color); */
    /* position: absolute; */
    display: none;
}
.swiper-scrollbar, .swiper-pagination{
    display: none;
}
/* swiper js section ends here */

/* navigation alt section starts here */
.navigation-alt{
    width: 90%;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
}
.nav-alt-leftdiv{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.nav-alt-leftdiv .inspo{
    color: var(--black);
    font-family: 'Merriweather', serif;
    font-size: 25px;
    letter-spacing: 1.5px;
    width: 50%;
    margin-right: 150px;
    font-weight: 100;
}
.about-me-leftdiv .inspo-content p{
    padding: 0 15px;
    letter-spacing: 1.5px;
    line-height: 2px;
    font-size: 18px;
    font-family: 'Varta', sans-serif;

}
.nav-alt-rightdiv{
    display: flex;
    justify-content: center;
    width: 35%;
    padding-bottom: 20px;
}
.nav-alt-rightdiv .prev {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 10px;
}
.nav-alt-rightdiv .next {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
/* navigation alt section ends here */

/* breakdown section starts here */
.breakdown-section{
    background: var(--bg-color);
    /* height: 500px; */
    padding: 40px 0;

}
.breakdown-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;

}
.breakdown-content h3{
    color: var(--black) ;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    letter-spacing: 2px;

}
.breakdown-content .breakdown-leftdiv{
    display: flex;
    justify-content: space-evenly;
    width: 58%;
}
.breakdown-leftdiv ul{
    list-style: none;
    color: var(--main-text-color);
    font-size: 12px;
    line-height: 24px;
    font-family: 'Varta', sans-serif;

}
.breakdown-leftdiv ul h1{
 font-size: 16px;
 padding-bottom: 10px;

}
.breakdown-content .breakdown-rightdiv{
    width: 30%;
}
.breakdown-rightdiv h3{
    font-size: 16px;
    padding-bottom: 20px;
    letter-spacing: 0;
    color: var(--main-text-color);
    font-family: 'Varta', sans-serif;

}
.breakdown-rightdiv img{
    width: 200px;
}
.breakdown-rightdiv p{
    font-size: 12px;
    line-height: 30px;
    font-family: 'Varta', sans-serif;
    width: 60%;
    color: var(--main-text-color);

}
.breakdown-rightdiv span{
    color: var(--main-color);
    font-size: 12px;
    padding: 10px 0;
    display: block;
}
/* breakdown section ends here */

/* image set starts here */
.image-set{
    display: none;
}
/* image set ends here */

/* footer starts here */
footer{
    background: var(--bg-color);
    padding: 30px 0;
    
}
.firstdiv, .seconddiv{
    display: flex;
   
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 30px;
    font-family: 'Varta', sans-serif;
    color: var(--main-text-color);
}
.firstdiv{
    justify-content: center;
    padding: 0 0 40px 0;
}
.housing{
    display: flex;
    border: 2px solid var(--main-color);
    height: 40px;
    width: 40px;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.seconddiv{
    justify-content: space-between;
}
.seconddiv .second-rightdiv{
    display: block;    
}
.second-rightdiv span{
    margin-right: 40px ;
}
/* footer ends here */
