@media  screen and (max-width:960px) {
    .desktop-header-section{
        display: none;
    }
    .desktop-left-div{
        display: none;
    }
    .desktop-right-div{
        display: none;
    }
    .mobile-header-section{
        background: url("./header.png");
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .mobile-header{
        display: flex;
    }
    .mobile-nav{
        display: block;
        width: 100%;
    }
    .mobile-items{
        display: block;
    }
    .firstsection-content{
        flex-direction: column;
    }
    .firstsection-leftdiv{
        width: 100%;
        padding: 40px 10px 10px 10px;
    }
    .firstsection-rightdiv{
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
    }
    .fs-rightdiv-cards{
        padding: 0 10px;
        height: fit-content;
        margin-bottom: 20px;
    }
    .first-card-set{
        width: 100%;
    }
    .second-card-set{
        width: 100%;
    }
    .about-me-leftdiv{
        display: none;
    }
    .about-me-rightdiv{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    .about-me-rightdiv button{
        margin: 10px 0;
        padding: 10px 60px;
    }
    .swiper{
        display: none;
    }
    .nav-alt-rightdiv{
        display: none;
    }
    .nav-alt-leftdiv{
        display: block;
        width: 100%;
    }
    .nav-alt-leftdiv .inspo{
        padding-bottom: 20px;
    }
    .breakdown-content{
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .breakdown-content .breakdown-leftdiv{
        flex-direction: column;
    }
    .breakdown-content h3{
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .breakdown-content .breakdown-leftdiv ul{
        padding-bottom: 20px;
       
    }
    .breakdown-content .breakdown-rightdiv {
        width: 100%;
    }

    .breakdown-rightdiv p{
        width: 100%;
    }
    .image-set{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .image-set img{
        width: 360px;
        height: 200px;
        object-fit: contain;
    }
    .seconddiv{
        flex-wrap: wrap-reverse;
    }
}